/* App.css */
@media (max-width: 767px) {
  .container,
  body,
  .myApp {
    margin-top: 20px;
    padding: 10px; /* Reduced padding for smaller screens */
  }

  h1 {
    font-size: 32px; /* Smaller font size for h1 on smaller screens */
    padding: 5%; /* Adjusted padding for better spacing */
  }

  p {
    font-size: 12px; /* Adjust font size for paragraph text */
  }

  .button-49,
  .button-49:after {
    width: 120px; /* Smaller button width */
    height: 56px; /* Smaller button height */
    line-height: 58px; /* Adjusted line height */
  }
}
.container {
  text-align: center;
  margin-top: 50px;
}
.myApp {
  display: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 3px;
  padding-left: -100px;
  padding-right: -100px;
  padding-bottom: 3px;
  background-image: url("https://media.wired.com/photos/5ed67e71b818b223fd84195f/master/pass/Blackout-hashtag-activism.jpg");
  background-size: cover;
}

body {
  resize: auto;
  background-image: url("https://getwallpapers.com/wallpaper/full/4/b/8/1025460-1920-x-1080-hd-wallpapers-1920x1080-free-download.jpg");
  background-color: rgb(235, 0, 51);
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}
p {
  color: #ffffff;
  font-size: 14px;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Calibri", sans-serif;
  margin-bottom: 20px;

  text-align: center;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
  padding-top: 5%;
  line-height: 1;
  letter-spacing: 3px;
  padding-left: 20%;
  padding-right: 20%;
  color: #ffffff;
  column-count: 1;
  font-size: 58px;
  text-shadow: 5px 5px 1px #000000;
  font-family: "Bebas Neue", sans-serif;
}
h1.visible {
  opacity: 1;
  transform: translateY(0);
}
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 28px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #b21313 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "ALTERNATE TEXT";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

.message {
  color: #666;
  font-size: 18px;
}
